
// Bootstrap colors
$body-bg: rgb(34,34,34); // HTML BG
$body-color: rgb(59, 59, 59);

$background-color: black;

$theme-colors: (
primary: #7f399b,
secondary: #464646,
success: #18742f,
info: #5492cf,
warning: #aa3702,
danger: #c23f3f,
light: #6e6e6e,
dark: rgb(34,34,34) // Body BG
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
