
<div class="container pt-1 pb-1">
  <div class="row">
    <div class="col">
      <button id="saveImageButton" type="button" class="btn btn-success text-nowrap mt-2">Bild Speichern</button>
    </div>
    <div class="col col-sm-auto">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-secondary " (click)="clearAllPaths()"> Session Zurücksetzen </button>
          <button type="button" class="btn btn-secondary m-2" (click)="randomDots()"> Konfetti </button>
          <button type="button" class="btn btn-secondary" (click)="printPath()"> printPath </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container pt-1 pb-1 h-auto ">
  <div class="row w-100">
    <div id="widthForCanvas" style="height: 22em">
      <canvas id="zeichenflaeche" class="bg-white " ></canvas>
      <script type="module" src="../../../assets/js/canvas.js"></script>
    </div>
  </div>
</div>

<div class="container pt-1 pb-1">
  <div class="row ">
    <div class="col">
      <div class="row">
        <div class="col">
          <button id="clear" type="button" class="btn btn-danger" (click)="clearClientCanvas()">Abwischen</button>
        </div>
      </div>
    </div>

    <div class="col col-sm-auto">
      <div class="row">
        <div class="col">
          <button id="undo" type="button" class="btn btn-secondary">Undo</button>
          <button id="redo" type="button" class="btn btn-secondary float-end ms-2">Redo</button>
        </div>
      </div>
    </div>

  </div>
</div>
