
<div class="container pt-3 pb-3 ">

<div class="container pt-1 pb-1 ">

    <div class="row w-100">
        <div id="widthForCanvas" class="col">
            <canvas id="zeichenflaeche" class="bg-white " ></canvas>
        </div>
    </div>



</div>
<div class="container pt-1 pb-1">
  <div class="row ">
    <div class="col">
      <!-- ELEMENT 1 -->
      <div class="row">
        <div class="col">
            <button id="clear" type="button" class="btn btn-primary">Zurücksetzen</button>
        </div>
    </div>
    </div>
    <div class="col">
      <!-- ELEMENT 1 -->
      <div class="row">
        <div class="col">
            <button id="saveImageButton" type="button" class="btn btn-primary float-end me-5">Bild Speichern</button>
        </div>
    </div>
    </div>
      <div class="col col-sm-auto">
        <!-- ELEMENT 3 -->
        <div class="row">
          <div class="col">
            <button id="undo" type="button" class="btn btn-primary">Undo</button>
            <button id="redo" type="button" class="btn btn-primary float-end ms-2">Redo</button>
          </div>
      </div>
  </div>

</div>
