/*  https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-scrollable.html
 */

 .img {
   width:1em;
  filter: saturate(0%) contrast(0%) brightness(500%)
      invert(0%) sepia(0%) hue-rotate(0deg);
}


 hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

[role="listbox"] {
  margin: 1em 0 0;
  padding: 0;
  min-height: 31em;
  border: 1px solid #aaa;
  background: white;
}

[role="listbox"]#ss_elem_list {
  position: relative;
  max-height: 18em;
  overflow-y: auto;
}

.li-chat {
  border-bottom: 1px solid rgb(150, 150, 150);
  color: black;
}

li {
  list-style:none;
}

li::before {
  content: '';
  height: 20em;
  width: 20em;
  background-image: url(https://i.imgur.com/34nP4GM.png);
}
