<div class="container">
  <div class="col col-sm-auto mb-3">
    <div class="row">
      <div class="text-center">
        <h1>Wilkommen {{userName}}!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div *ngIf="showReturnToRegisterUI">
          <button type="submit" class="btn btn-secondary" (click)="returnToHome()"><img src="../../../assets/img/back.png" class="img"/> Zurück zur Anmeldung</button>
        </div>
      </div>
    </div>

    <hr/>

    <div *ngIf="userConnected; else elseBlock">
      <div class="mt-3">
        <div class="input-group">
          <button class="btn btn-secondary form-control" style="text-align: left !important" (click)="copyRoomNameToClipboard()"><img class="img" src="../../../assets/img/sketching.png"/> {{currentRoomText}}</button>
          <button class="btn btn-danger" (click)="disconnect()"><img src="../../../assets/img/back.png" class="img"/> Raum verlassen</button>
        </div>
      </div>
    </div>
    <h3 class="mt-3">{{otherUsersText}}</h3>
  </div>
  <ng-template #elseBlock>
    <form>
      <div class="mt-3 row">
        <label for="boardcode" class="form-label text-left">Raum:</label>
        <div>
          <div class="input-group">
            <input type="text" class="form-control" id="boardcode" placeholder="Sturmwind-Zeichnerclub" #roomNameInput
            (input)="onRoomNameChange(roomNameInput.value)" value="{{roomName}}">
            <button class="btn btn-secondary float-end" (click)="generateCode()">Generieren</button>
          </div>
          <div id="nameInputHelp" class="form-text">Wähle den Namen des Raums, welchem du beitreten oder erstellen möchtest</div>
        </div>
      </div>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-success w-100" (click)="startRoom()"> Raum erstellen</button>
          </div>
          <div class="col">
            <button class="btn btn-success float-end ms-2 w-100" (click)="enterRoom()"> Raum beitreten</button>
          </div>
        </div>
    </form>
  </ng-template>

  <div id="chatDisplay">
    <ul>
      <li *ngFor = "let msg of userList" >
        <img src="../../../assets/img/user.png" class="img"/> {{msg}}</li>
      </ul>
    </div>

    <div (keyup.enter)="sendMessage(chatMessage.value);chatMessage.value = ''" *ngIf="userConnected; else chatElseBlock">
      <!-- https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-scrollable.html -->
      <div>
        <ul class="rounded mb-2 bg-dark"id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
          <li class="li-chat m-1" tabindex="1" *ngFor = "let msg of messages">{{msg}}</li>
        </ul>
      </div>
      <div>
        <div class="input-group">
          <input class="form-control" type="text" id="chatBox" #chatMessage>
          <button class="btn btn-success float-end" (click)="sendMessage(chatMessage.value);chatMessage.value = ''">Senden</button>
        </div>
      </div>
    </div>
    <ng-template #chatElseBlock>
      <div>

      </div>
    </ng-template>

    <div class="text-center mt-3">
      {{errorDisplayMessage}}
    </div>
  </div>
