<div class="container pt-3 pb-3 ">
  <div class="row w-100 align-items-center mx-auto">
      <div class="col">
        <div class="text-center">
          <p >Draw-Width</p>
          <mat-slider id="width-slider"  min="1" max="50" step="1" value="10"></mat-slider>
        </div>
      </div>
      <div class="col align-items-center">
        <button id="clear" type="button" class="btn btn-primary ">Zurücksetzen</button>
      </div>
      <div class="col">
        <span>Element 1</span>
        <!-- ELEMENT 1 -->
      </div>
      <div class="col">
        <span>Element 2</span>
        <!-- ELEMENT 2 -->
      </div>
      <div class="col">
        <span>Element 3</span>
        <!-- ELEMENT 3 -->
      </div>
      <div class="col">
        <span>Element 4</span>
        <!-- ELEMENT 4 -->
      </div>
  </div>
</div>

